<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ajouter Un Client</title>
</head>
<body>

<h2>Liste des clients : </h2>	

<th:block>
	<table>
	<tr><th>noClient</th>
	<tr><th>nom</th>
	<th>prenom</th></tr>
	
	<tr th:each="client: ${clients}">
		<td th:text="${client.noClient}">noClient</td>
		<td th:text="${client.nom}">nom</td>
		<td th:text="${client.prenom}">prenom</td>
		
	</tr>
	</table>
	</th:block>

<!-- <h1>Bonjour [[${client.noClient}]] [[${client.nom}]]</h1> -->


</body>
</html>