<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>page d'Accueil</title>
</head>
<body>

<h2>Veuillez saisir un client : </h2>

<form 
action="/page-accueil" method="post">

		<br> <input type="text" id="name" name="noClient" placeholder= noClient required minlength="4" maxlength="20" size="20" /></br>		
		<br> <input type="text" id="name" name="nom" placeholder= nom required minlength="4" maxlength="20" size="20" /></br>
		<br> <input type="text" id="name" name="prenom" placeholder= prenom required minlength="4" maxlength="20" size="20" /></br>
		<br> <input type="text" id="name" name="email" placeholder= email required minlength="4" maxlength="20" size="20" /></br>
		<br> <input type="text" id="name" name="noTel" placeholder= noTel required minlength="4" maxlength="20" size="20" /></br>
		<br> <input type="text" id="name" name="rue" placeholder= rue required minlength="4" maxlength="20" size="20" /></br>
		<br> <input type="text" id="name" name="codePostal" placeholder= codePostal required minlength="4" maxlength="20" size="20" /></br>
		<br> <input type="text" id="name" name="ville" placeholder= ville required minlength="4" maxlength="20" size="20" /></br>
		
		
		<button type="submit">Ajouter à la liste des Clients</button>
</form>



</body>
</h/html>